translit_new.txt
.pdf
/VK
translit.py
.pkl
WB_cookies.pkl
geckodriver.log
Вопросы и ответы по дипломному проекту.pdf
Последовательность и сроки написания дипломного проекта.pdf
.idea
.vscode
__pycache__
test_links.py
test_tabs.py
test.py
translit_old.txt
/screenshots
